# Anova Test

In [1]:
import pandas as pd
import scipy.stats as st

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Iris.csv', index_col=0)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df.iloc[:,0]

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [5]:
st, pvalue = st.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

In [6]:
pvalue

3.4996987081933735e-159

In [8]:
if pvalue < 0.05:
    print('Reject Null Hypothesis. At least one sample is different.')
else:
    print('Fail to reject Null hypothesis. All samples are same.')

Reject Null Hypothesis. At least one sample is different.

# Chi-Square test

In [9]:
df = pd.read_csv('chi2.csv', index_col=0)
df

   Athlete Smoker
0        Y    yes
1        Y    yes
2        Y     no
3        Y     no
4        Y    yes
5        Y     no
6        Y    yes
7        Y     no
8        Y     no
9        Y     no
10       Y     no
11       Y     no
12       Y     no
13       Y     no
14       Y     no
15       Y     no
16       Y     no
17       Y     no
18       N    yes
19       N    yes
20       N    yes
21       N    yes
22       N    yes
23       N    yes
24       N    yes
25       N    yes
26       N    yes
27       N    yes

In [10]:
obs = pd.crosstab(index=df['Athlete'], columns=df['Smoker'])
obs

Smoker   no  yes
Athlete
N         0   10
Y        14    4

In [11]:
from scipy.stats import chi2_contingency

In [13]:
test,p,df,exp = chi2_contingency(obs)

In [14]:
if p < 0.05:
    print('Reject Ho. Columns are dependent on each other.')
else:
    print('Fail to reject Ho. Columns are independent to each other.')

Reject Ho. Columns are dependent on each other.