# Functions
- In python, there are two types of function.
    - Built-in funtions
    - User defined function
- We can create our own customized functions in python for code reusability.

In [1]:
#Basic Function

In [1]:
def simple_function():
    print('Welcome to python classes.')

In [2]:
simple_function()

Welcome to python classes.

In [6]:
def abc():
    print('This is first code')
print('This is second code')

This is second code

In [7]:
abc()

This is first code

In [2]:
#Docstring

In [8]:
'''This is first line'''

'This is first line'

In [9]:
def func():
    '''This function prints 2 statements.'''
    print('Python')
    print('Language')

In [11]:
func(10)

TypeError: func() takes 0 positional arguments but 1 was given

In [12]:
max(10,5)

10

In [13]:
#Write a python function which will return me the maximum number
def max_number(num1,num2):
    '''This function return maximum between 2 values'''
    return max(num1,num2)

In [16]:
max_number(5,45)

45

In [22]:
def max1(num1,num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [23]:
max1(10,5)

10

In [24]:
max1(10,100)

100

In [25]:
def even_odd(number):
    if number%2==0:
        print('The number is even')
    else:
        print('Odd number')

In [26]:
even_odd(5)

Odd number

In [27]:
even_odd(22)

The number is even

In [28]:
def maxx(*numbers):
    return max(numbers)

In [31]:
maxx(10,5,25,50,55464,64646764,65)

64646764

# Loops

1. While Loop 
2. For loop

In [61]:
num = int(input('Enter number of concepts to learn: '))

while num > 0:
    print('Learning Python')
    num = num - 1
print('Python Completed')

Enter number of concepts to learn: 30
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
Python Completed

In [33]:
python_concepts

0

In [38]:
steps = 0

while steps <=25:
    print('Taking Steps')
    steps = steps + 1
print('Reached')

Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Taking Steps
Reached

In [48]:
#range function
r = range(1,101)
r

range(1, 101)

In [49]:
list(r)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [5]:
#For loop

In [51]:
for i in range(1,50):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401

In [52]:
for i in range(1,10):
    print(i+5)

6
7
8
9
10
11
12
13
14

In [55]:
#Company list
company = ['amazon','flipkart','excelr']

for i in company:
    print('www.'+i+'.com')

www.amazon.com
www.flipkart.com
www.excelr.com

In [57]:
even = []
odd = []

for i in range(1,51):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [58]:
even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [59]:
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

# In-Class Activity:

1. Write a program to store all names which starts with 'A' in a list.
2. Take a list of numbers and add 5 to each number.
3. Create a list of marks and print only marks > 75.